<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorías</title>
      <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.16/dist/sweetalert2.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">TaskList</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/categories">Categorias</a>

                </div>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <div class="row">
            <div class="col-6 col-md-4" style="background-color: rgb(246, 246, 246);padding: 2%;">
               
                  
                    <h1>Categorías</h1>
                    <form action="/categories" method="POST">
                        <div class="form-group">
                            <label>Título:</label>                            
                            <input type="text" class="form-control mb-3 mt-3" id="title" name="title" required>    
                        </div>
                        <button type="submit" class="btn btn-primary">Agregar categoría</button>
                    </form>
               
                 
                
            </div>
            <div class="col-md-8" style="background-color: rgb(226, 226, 226); padding: 2%;">
                <table class="table table-bordered border-primary">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre de Categoria</th>
                            <th scope="col">Opciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% categories.forEach(category=> { %>
                            <tr>
                                <th scope="row">
                                    <%= category.id %>
                                </th>
                                <td>
                                    <%= category.title %>
                                </td>
                                <td>
                                    <a onclick="confirmar(<%= category.id %>)"class="btn btn-danger">Eliminar <i class="fa-solid fa-trash" style="color: #ffffff;"></i></a>
                                    <a href="/categories/edit/<%= category.id %>" class="btn btn-primary">Editar <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i></a>
                                </td>

                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.16/dist/sweetalert2.all.min.js"></script>
    <script>
        function confirmar(id){
        Swal.fire({
            title: '¿Estas segur@ que quieres eliminar esta categoria?',
            html:'Si eliminas esta Categoria se borraran todas las tareas relacionadas a ella',
            icon:'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: `Confirmar`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
            window.location = '/categories/delete/'+id;
            }
        })
        };
    </script>
        
          
</body>

</html>